# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Misc
.settings/language.settings.xml

# Output folders
/SAMC21/
/SAMC21-Debug/
/SAMMYC21/
/SAMMYC21-Debug/
/SAME5x/
/SAME5x-Debug/
/Duet3_MB6HC/
/Duet3_MB6XD/
/Duet3_Mini5plus/
